.footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 100px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  font-size: 1em;
  color: #fff;
  text-align: center;
  position: relative;
  top: 8px;
}
